<!DOCTYPE html>
<html>

    <head>
        <title>Pedidos efetuados</title>
        <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">

        <!-- scripts -->
        <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
        <script th:src="@{/js/ajax.js}"></script>

        <!-- Menu do topo -->
        <link rel="stylesheet" th:href="@{/css/menu-topo.css}" type="text/css">
        <script th:src="@{/js/menu-topo.js}"></script>
    </head>

    <body>

        <header>

            <div class="logotipo">
                <a th:href="@{/}"><img th:src="@{/images/logo.svg}" alt="Logo"></a>
            </div>

            <div class="carrinho" th:unless="${session.isAdmin}">
                <a th:href="@{/pagina-carrinho-compra}" class="carrinho-link">
                    <img th:src="@{/images/carrinho.svg}" alt="Carrinho">
                    <span class="carrinho-quantidade" id="carrinho-quantidade">0</span>
                </a>
            </div>

        </header>

        <nav th:if="${session.isAdmin}">

            <div class="topMenu" id="menuTopNav">

                <a th:href="@{/}">Home</a>

                <div class="topMenuDropDown">

                    <button class="topMenuDropDownBtn">
                        Configurações
                    </button>

                    <div class="topMenuDropDown-content">
                        <a th:href="@{/pagina-novo-produto}">Novo produto</a>
                        <a th:href="@{/pagina-catalogo}">Catálogo</a>
                        <a th:href="@{/pagina-pedidos}">Pedidos</a>
                    </div>

                </div>

                <a th:href="@{/logout}">Logout</a>

                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="menuTopNavFunction()">&#9776;</a>

            </div>

        </nav>

        <main th:if="${session.isAdmin}">

            <form th:action="@{/pagina-pedidos}" method="GET">

                <div class="formulario-container">

                    <div class="formulario-container-secao">

                        <div class="formulario-container-secao-campo">
                            <label for="id">Código</label>
                            <input type="text" id="id" name="id" placeholder="Código" class="form-input">
                        </div>

                        <div class="formulario-container-secao-envia">

                            <div>
                                <input type="submit" class="botao-pequeno-1" value="Pesquisar">
                            </div>

                            <div>
                                <a th:href="@{/pagina-pedidos}" class="botao-pequeno-3">Limpar</a>
                            </div>

                        </div>

                    </div>

                </div>

            </form>

            <br>

            <table th:if="${pedidos.size() > 0}">

                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Data : Hora</th>
                        <th>Total R$</th>
                        <th>Situação</th>
                    </tr>
                </thead>

                <tbody>

                    <tr th:each="pedido : ${pedidos}">

                        <td th:text="${pedido.id}"></td>
                        <td th:text="${pedido.data}"></td>
                        <td th:text="${pedido.valor}"></td>

                        <td th:if="${pedido.finalizado == false}">

                            <a th:href="@{/pagina-finaliza-pedido/id/{id}(id=${pedido.id})}">
                                <img th:src="@{/images/aguardando.png}" alt="Aguardando">
                            </a>

                        </td>

                        <td th:if="${pedido.finalizado == true}">

                            <a th:href="@{/pagina-finaliza-pedido/id/{id}(id=${pedido.id})}">
                                <img th:src="@{/images/check.png}" alt="Finalizado">
                            </a>

                        </td>

                    </tr>

                </tbody>
            </table>

            <div th:if="${pedidos.size() == 0}">
                <h1>Não há pedidos!</h1>
            </div>

        </main>

        <main th:unless="${session.isAdmin}">
            <h1>Acesso negado!</h1>
        </main>

        <footer>Versão 0.1</footer>

    </body>

</html>
