<!DOCTYPE html>
<html>

    <head>
        <title>Exclusão de produto</title>
        <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">

        <!-- scripts -->
        <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
        <script th:src="@{/js/ajax.js}"></script>

        <!-- Menu do topo -->
        <link rel="stylesheet" th:href="@{/css/menu-topo.css}" type="text/css">
        <script th:src="@{/js/menu-topo.js}"></script>
    </head>

    <body>

        <header>

            <div class="logotipo">
                <a th:href="@{/}"><img th:src="@{/images/logo.svg}" alt="Logo"></a>
            </div>

            <div class="carrinho" th:unless="${session.isAdmin}">
                <a th:href="@{/pagina-carrinho-compra}" class="carrinho-link">
                    <img th:src="@{/images/carrinho.svg}" alt="Carrinho">
                    <span class="carrinho-quantidade" id="carrinho-quantidade">0</span>
                </a>
            </div>

        </header>

        <nav th:if="${session.isAdmin}">

            <div class="topMenu" id="menuTopNav">

                <a th:href="@{/}">Home</a>

                <div class="topMenuDropDown">

                    <button class="topMenuDropDownBtn">
                        Configurações
                    </button>

                    <div class="topMenuDropDown-content">
                        <a th:href="@{/pagina-novo-produto}">Novo produto</a>
                        <a th:href="@{/pagina-catalogo}">Catálogo</a>
                        <a th:href="@{/pagina-pedidos}">Pedidos</a>
                    </div>

                </div>

                <a th:href="@{/logout}">Logout</a>

                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="menuTopNavFunction()">&#9776;</a>

            </div>

        </nav>

        <main>

            <form th:action="@{/deleteProduto}" th:object="${produto}" method="POST" th:if="*{id != 0}">

                <input type="hidden" name="id" th:field="*{id}" th:if="*{id != 0}">
                <input type="hidden" name="imagem" th:field="*{imagem}" th:if="*{id != 0}">

                <div class="formulario-container">

                    <div class="formulario-container-secao">

                        <div class="formulario-container-secao-campo-imagem">

                            <div class="formulario-container-secao-campo-imagem-thumb">
                                <img th:src="@{'/images/logo.svg'}" th:if="*{id == 0 or imagem == null}">
                                <img th:src="@{'/uploads/' + *{imagem}}" th:unless="*{id == 0 or imagem == null}">
                            </div>

                        </div>

                    </div>

                    <div class="formulario-container-secao">

                        <div class="formulario-container-secao-campo">
                            <h1>Exclusão de produto</h1>
                        </div>

                        <div class="formulario-container-secao-campo">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" th:field="*{nome}" disabled>
                        </div>

                        <div class="formulario-container-secao-campo">
                            <label for="descricao">Descrição</label>
                            <textarea name="descricao" th:field="*{descricao}" cols="40" rows="10" disabled></textarea>
                        </div>

                        <div class="formulario-container-secao-envia">

                            <div>
                                <input type="submit" value="Excluir" class="botao-grande-3" id="excluirProdutoButton">
                            </div>

                            <div>
                                <input type="button" value="Cancelar" class="botao-grande-2" onclick='window.location.href = "/"'>
                            </div>

                        </div>

                    </div>

                </div>

            </form>

            <script>

                document.getElementById("excluirProdutoButton").addEventListener("click", function (e) {

                    if (!confirm("Tem certeza de que deseja excluir o produto?")) {

                        e.preventDefault();

                    }

                });

            </script>

        </main>

        <footer>Versão 0.1</footer>

    </body>

</html>
